.navbar-mio{
    position: relative;
    z-index: 30;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    background-color: black;
    margin-bottom: 30px;
}

.navbar h3{
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: black;
}

.navbar-menu{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.navbar-brand-mio{
    display: flex;
    align-items: center;
    background-color: black;
    color: rgba(243, 247, 2, 0.322);
    font-weight: 400;
}

.column a{
    color: rgba(243, 247, 2, 0.322);
    font-size: 18px;

}

.Option{
    color: rgba(243, 247, 2, 0.322);
    font-weight: 700;
}
